---
- name: Create folder for codes
  become: true
  become_user: "{{ simulationbase_vm_user }}"
  file:
    path: "{{ simulationbase_codes_folder }}"
    state: directory

- name: Create scratch directory for calculations
  become: true
  file:
    path: "{{ simulationbase_scratch_folder }}"
    state: directory
    mode: 0777
